body{
	//height: 800px;
	//width: 500px;
	//background-image: url(/images/2.jpg);
	//filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    //-moz-background-size:100% 100%;
    //background-size:100% 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
div{
	text-align: center;
}

li{
	text-align: left;
	margin: 10px;
	font-size: 20px;
}
#header{
	//background-color: yellow;
	height: 70px;
	width: 100%;
	font-size: 40px;
	text-align: center;
}
#comment{
	//background-color: blue;
	height: 500px;
	width: 800px;
	background-image: url(/images/comment.png);
	background-size: 100% 100%;
}
#skills{
	margin: 10px;
	padding: 10px;
}
.h2{
	font-size:30px;
}
.main_tag{
	list-style-type: none;
	font-size:40px;

}
.option_li{
	list-style-type: none;	
	margin: 10px;
	padding: 0px;
	text-align:left;
	font-size: 30px;
}